html {
    font-family: sans-serif;
  }

body {
    background: url("/img/book1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8px;
    opacity: 80%;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(235,235,235);
    font-size: 14px;
    position: sticky;
    top: 0;
}
  
td {
    text-align: left;
}
  
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

td:first-child {
    font-size: 12px;
    font-weight: bold;
}

#jefferson {
    font-size: 12px;
    font-weight: bold;
}

#collier {
    font-size: 12px;
    font-weight: bold;
}

#trinity {
    font-size: 12px;
    font-weight: bold;
}

#igneous {
    font-size: 12px;
    font-weight: bold;
}

caption {
    padding: 10px;
}
  
b {
    font-size: 8px;
}