body {
    background: url(/img/landing-page.png) center;
    height: 900px;
}

p {
    box-sizing: border-box;
    position: absolute;
    background-color: black;
    font: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 119);
    bottom: 140px;
    left: 365px;
    width: 900px;
    padding: 10px;
    border: 5px solid yellow;
    border-radius: 20px;
  }

  a {
    box-sizing: border-box;
    position: absolute;
    font: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 119);
    bottom: 70px;
    left: 420px;
    width: 800px;
  }