body {
    background: url(/img/selection1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    position: absolute;
    height: 57%;
    width: auto;
    top: 17%;
    left: 18%;
    border: 5px solid black;
    opacity: 80%;
}
@font-face {
    font-family: "Press_Start_P2";
    src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

p {
    box-sizing: border-box;
    position: absolute;
    color: yellow;
    font-family: "Press_Start_P2";
    font-size: 32px;
    top: 0%;
    left: 28%;
    text-align: center;
}

#bch-northeast {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 18%;
    left: 51%;
    height: 26%;
    width: 12%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 24px;
    text-align: center;
    padding: 32px 5px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2rem;
    opacity: 80%;
}

#bch-ozarks {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 18%;
    left: 63.5%;
    height: 26%;
    width: 12%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 24px;
    text-align: center;
    padding: 32px 5px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2rem;
    opacity: 80%;
}

#bch-rivervalley-SW-SE {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 18%;
    left: 76%;
    height: 26%;
    width: 13%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 10px;
    text-align: center;
    padding: 60px 3px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 1.5rem;
    opacity: 80%;
}

#bch-ToT {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 47%;
    left: 51%;
    height: 26%;
    width: 18%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 24px;
    text-align: center;
    padding: 42px 5px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2rem;
    opacity: 80%;
}

#bch-ToT-tribes {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 47%;
    left: 71%;
    height: 26%;
    width: 17%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 28px;
    text-align: center;
    padding: 44px 5px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2rem;
    opacity: 80%;
}

#county-histories {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 40%;
    left: 5.2%;
    height: 11%;
    width: 6%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 10px;
    text-align: center;
    padding: 5px 5px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 1rem;
    opacity: 100%;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

#arrow-left {
    position: absolute;
    top: 33%;
    left: 0%;
    height: 25%;
    width: auto;
    border: none;
    opacity: 100%;
}

#arrow-left-span {
    position: absolute;
    top: 43%;
    left: 3.5%;
    width: 8%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 10px;
    text-align: center;
    line-height: 1rem;
  }

#arrow-right {
    position: absolute;
    top: 40%;
    left: 92%;
    height: 13%;
    width: auto;
    border: none;
    opacity: 100%;
}

#arrow-right-span {
    display: none;
    position: absolute;
    top: 35%;
    left: 91%;
    width: 8%;
    color: white;
    font-family: "Press_Start_P2";
    font-size: 14px;
    text-align: center;
    line-height: 1.5rem;
  }
    
#arrow-right:hover + #arrow-right-span {
    display: block;
}