body {
    background: url(/img/selection1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: "Press_Start_P2";
    src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

#ecoregions {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 18%;
    left: 12.5%;
    height: 26%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 54px;
    text-align: center;
    padding: 26px 0;
    line-height: 60px;
    opacity: 80%;
}

#climate {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 47%;
    left: 12.5%;
    height: 26%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 54px;
    text-align: center;
    padding: 54px 0;
    line-height: 60px;
    opacity: 80%;
}

#geomap {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 18%;
    left: 51%;
    height: 26%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 54px;
    text-align: center;
    padding: 40px 0;
    line-height: 50px;
    opacity: 80%;
}

#georegions {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 47%;
    left: 51%;
    height: 26%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 54px;
    text-align: center;
    padding: 26px 0;
    line-height: 60px;
    opacity: 80%;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }