body {
    background: url(/img/selection2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: "Press_Start_P2";
    src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

div {
    display: inline-block;
    position: absolute;
    color: yellow;
    font-family: "Press_Start_P2";
    font-size: 40px;
    top: 3%;
    left: 3%;
    text-align: center;
}

table {
    display: inline-block;
    position: absolute;
    height: 57%;
    width: 76.5%;
    top: 17%;
    left: 12%;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 9px;
    opacity: 80%;
}
  
td {
    border: 1px solid rgb(190,190,190);
    padding: 34.1px 8px;
    text-align: center;
    font-family: "Press_Start_P2";
}
  
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}
  
tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

a:link { text-decoration: none; color: black;}

a:visited { text-decoration: none; color: black;}

a:hover { text-decoration: none; color: black;}

a:active { text-decoration: none; color: black;}
