body {
    background: url(/img/selection1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

@font-face {
    font-family: "Press_Start_P2";
    src: url(/fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

p {
    box-sizing: border-box;
    position: absolute;
    color: yellow;
    font-family: "Press_Start_P2";
    font-size: 34px;
    top: 0%;
    left: 31%;
    text-align: center;
}

#ecoregions {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 16%;
    left: 12.5%;
    height: 23%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 32px;
    text-align: center;
    padding: 68px 20px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2.5rem;
    opacity: 80%;
}

#climate {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 43%;
    left: 12.5%;
    height: 23%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 32px;
    text-align: center;
    padding: 88px 20px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2.5rem;
    opacity: 80%;
}

#geomap {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 16%;
    left: 51%;
    height: 23%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 32px;
    text-align: center;
    padding: 68px 20px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2.5rem;
    opacity: 80%;
}

#georegions {
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    top: 43%;
    left: 51%;
    height: 23%;
    width: 37%;
    color: black;
    font-family: "Press_Start_P2";
    font-size: 32px;
    text-align: center;
    padding: 68px 20px;
    border: 5px solid black;
    border-radius: 20px;
    line-height: 2.5rem;
    opacity: 80%;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

img {
    position: absolute;
    top: 35%;
    left: 92%;
    height: 13%;
    width: auto;
}

span {
    display: none;
    position: absolute;
    top: 30%;
    left: 91%;
    width: 8%;
    color: white;
    font-family: "Press_Start_P2";
    font-size: 14px;
    text-align: center;
    line-height: 1.5rem;
  }
    
img:hover + span {
    display: block;
}