<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Ozarks
    Arkansas River Valley
    Northeast Arkansas
    Southeast Arkansas
    Southwest Arkansas

<label for="trail_of_tears">APE Within 1 Mile of Trail of Tears</label>

    Arkansas
    Ashley
    Baxter
    Benton
    Boone
    Bradley
    Calhoun
    Carroll
    Chicot
    Clark
    Clay
    Cleburne
    Cleveland
    Columbia
    Conway
    Craighead
    Crawford
    Crittenden
    Cross
    Dallas
    Desha
    Drew
    Faulkner
    Franklin
    Fulton
    Garland
    Grant
    Greene
    Hempstead
    Hot Spring
    Howard
    Independence
    Izard
    Jackson
    Jefferson
    Johnson
    Lafayette
    Lawrence
    Lee
    Lincoln
    Little River
    Logan
    Lonoke
    Madison
    Marion
    Miller
    Mississippi
    Monroe
    Montgomery
    Nevada
    Newton
    Ouachita
    Perry
    Phillips
    Pike
    Poinsett
    Polk
    Pope
    Prairie
    Pulaski
    Randolph
    Saint Francis
    Saline
    Scott
    Searcy
    Sebastian
    Sevier
    Sharp
    Stone
    Union
    Van Buren
    Washington
    White
    Woodruff
    Yell
</body>
</html>