<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/landing-page.css">
    <title>FEA Report Archive</title>
</head>
<body>
    <p>The Technical Report!</p>
    <a href="/templates/selection-main.html">Click Here to Begin!</a>
    <audio src="/audio/13 Ending (The Raiders March).mp3" autoplay></audio>
</body>
</html>