<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/selection-sum-rec.css">
    <title>Summary and Recommendations</title>
</head>
<body>
    <div>
        <p>Summary and Recommendations</p>
    </div>
    <div>
        <p id="cell-tower">Cell Tower Report Templates include: 1.Monopole,<br> 2.Lease Area with Easement,<br> 3.Lease Area without Easement, and<br> 4.Lease Area with Easement and Anchor Points</p>
    </div>
    <div>
        <p id="generic">Generic Report Templates include: 1.Polygon(s),<br> 2.Corridor with Defined Boundary, and<br> 3.Corridor without Defined Boundary</p>
    </div>
    <div>
        <a href="/sum-rec/cell-tower-neg.html" id="cell-tower-neg">Cell Tower (Negative Findings)</a>
    </div>
    <div>
        <a href="/sum-rec/cell-tower-pos-no-site.html" id="cell-tower-pos-no-site">Cell Tower (Positive Findings without Site)</a>
    </div>
    <div>
        <a href="/sum-rec/cell-tower-pos-yes-site.html" id="cell-tower-pos-yes-site">Cell Tower (Positive Findings with Site)</a>
    </div>
    <div>
        <a href="/sum-rec/gen-prj-neg.html" id="gen-prj-neg">Generic Project (Negative Findings)</a>
    </div>
    <div>
        <a href="/sum-rec/gen-prj-pos-no-site.html" id="gen-prj-pos-no-site">Generic Project (Positive Findings without Site)</a>
    </div>
    <div>
        <a href="/sum-rec/gen-prj-pos-no-site.html" id="gen-prj-pos-yes-site">Generic Project (Positive Findings with Site)</a>
    </div>
    <div>
        <a href="/templates/selection-main.html"><img src="/img/arrow-left.png" alt="arrow-right"><span id="arrow-right-span">Back to main page</span></a>
    </div>
</body>
</html>