<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Report Library!</title>
    <link rel="stylesheet" href="/stylesheets/selection-main.css">
</head>
<body>


    <p>Good afternoon, Dr. Jones! Select a bookshelf that contains a report template...</p>



<div>
    <a href="/templates/selection-abstract-intro.html" id="abstract-intro">Abstract Intro</a>
    <span id="abstract-intro-span">Abstract and Introduction</span>
</div>

<div>
    <a href="/templates/selection-environmental.html" id="environmental">Environmental Setting</a>
    <span id="environmental-span">Environmental Setting</span>
</div>
    <div>
    <a href="/templates/selection-BCH1.html" id="BCH1">Brief Cultural History</a>
    <span id="BCH1-span">Brief Cultural History</span>
</div>
    <div>
    <a href="/templates/selection-background-res.html" id="background-res">Background Research</a>
    <span id="background-res-span">Background Research</span>
</div>
    <div>
    <a href="/templates/selection-field-lab-methods.html" id="field-lab-methods">Field and Lab Methods</a>
    <span id="field-lab-methods-span">Field and Lab Methods</span>
</div>
    <div>
    <a href="/templates/selection-sum-rec.html" id="sum-rec">Summary and Rec.</a>
    <span id="sum-rec-span">Summary and Recommendations</span>
</div>


            

<!--Special Effects-->


<audio src="/audio/10 Piano Player on Zeppelin.mp3" autoplay></audio>