<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/selection-environmental.css">
    <title>Environmental Setting</title>
</head>
<body>
    <div>
        <p>Environmental Setting</p>
    </div>
    <div>
        <a href="/environmental-temps/ecoregions.html" id="ecoregions">Ecological Regions of Arkansas</a>
    </div>
    <div>
        <a href="/environmental-temps/climate.html" id="climate">Climate by County</a>
    </div>    
    <div>
        <a href="https://ngmdb.usgs.gov/ngm-bin/pdp/zui_viewer.pl?id=7339" id="geomap">Geological Map of Arkansas</a>
    </div>  
    <div>
        <a href="/environmental-temps/georegions.html" id="georegions">Geological Regions of Arkansas</a>
    </div>
    <div>
        <a href="/templates/selection-main.html"><img src="/img/arrow-right.png" alt="arrow-right"><span id="arrow-right-span">Back to main page</span></a>
    </div>
</body>
</html>