<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/selection-background-res.css">
    <title>Background Research</title>
</head>
<body>
    <div>
        <p>Background Research</p>
    </div>
    <div id="all-reports">These templates occur throughout multiple report chapters</div>
    <div id="background-only">These templates occur only in the Background Research chapter</div>
    <div>
        <a href="/background-research/AMASDA-sites.html" id="AMASDA-sites">AMASDA Previously Recorded Sites for All Reports</a>
    </div>
    <div>
        <a href="/background-research/h-props-cell-tower.html" id="h-props-cell-tower">Historic Properties for Cell Tower Reports</a>
    </div>
    <div>
        <a href="/background-research/h-props-g-reports.html" id="h-props-g-reports">Historic Properties for Generic Reports</a>
    </div>
    <div>
        <a href="/background-research/chapter-only/AMASDA-projects.html" id="AMASDA-projects">AMASDA Previously Conducted Projects for All Reports</a>
    </div>
    <div>
        <a href="/background-research/chapter-only/background-ToT.html" id="background-ToT">Trail of Tears for All Reports</a>
    </div>
    <div>
        <a href="/background-research/chapter-only/improvements-glo.html" id="improvements-glo">Historical Improvements on GLO Maps</a>
    </div>
    <div>
        <a href="/background-research/chapter-only/improvements-usgs.html" id="improvements-usgs">Historical Improvements on USGS Maps and Aerial Imagery</a>
    </div>
    <div>
        <a href="/templates/selection-main.html"><img src="/img/arrow-left.png" alt="arrow-right"><span id="arrow-right-span">Back to main page</span></a>
    </div>
</body>
</html>