<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Sites Within 1 Mile
    No Sites Within 1 Mile

    
        Projects Within 1 Mile
        No Projects Within 1 Mile

<!--Historic Properties dropdown to output content in Abstract/Intro/SumAndRec-->

    
        Historic Properties within Visual APE
        No Historic Properties within Visual APE
        Historic Properties in/near APE
        No Historic Properties in/near APE

    GLO_With_Improvements
        There is a GLO Landowner
        There are no GLO Landowners
    GLO_Without_Improvements
        There is a GLO Landowner
        There are no GLO Landowners
    Survey_maps_aerial
    
        Survey Maps and/or Aerials Show Previous Improvements
        There are no Previous Improvements
</body>
</html>