<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/selection-BCH1.css">
    <title>Brief Cultural History</title>
</head>
<body>
    <div>
        <p>Brief Cultural History</p>
    </div>
    <img src="/img/BCH-overall-regions.JPG" alt="Brief Cultural History Regions">
    <div>
        <a href="/bch-overall/bch-northeast.html" id="bch-northeast">Northeast Arkansas Brief Cultural History</a>
    </div>
    <div>
        <a href="/bch-overall/bch-ozarks.html" id="bch-ozarks">Ozarks Region Brief Cultural History</a>
    </div>
    <div>
        <a href="/bch-overall/bch-rivervalley-SW-SE.html" id="bch-rivervalley-SW-SE">Arkansas River Valley,<br> Southwest Arkansas, and<br> Southeast Arkansas<br> Brief Cultural History</a>
    </div>
    <div>
        <a href="/bch-overall/bch-ToT.html" id="bch-ToT">Project Area is within 1 Mile of Trail of Tears</a>
    </div>
    <div>
        <a href="/bch-overall/bch-ToT-tribes.html" id="bch-ToT-tribes">Tribes associated with Trail of Tears</a>
    </div>
    <div>
        <a href="/templates/selection-BCH2.html"><img src="/img/arrow-left.png" alt="arrow-left" id="arrow-left"><span id="arrow-left-span">For County Histories, Click Here!</span></a>
    </div>
    <div>
        <a href="/templates/selection-main.html"><img src="/img/arrow-right.png" alt="arrow-right" id="arrow-right"><span id="arrow-right-span">Back to main page</span></a>
    </div>
</body>
</html>